html,
body {
  background-color: #222;
}

.footer {
  border: none !important;
  color: #585858;
  position: fixed;
  bottom: -12px;
  right: -15px;
  padding: 0;
}

#weather {
  width: 54%;
}

#weather-container {
  transform: scale(0.8);
  transform-origin: 0 0;
  overflow: hidden;
  width: 684px;
  height: 614px;
}

#weather header,
#weather .alerts,
#weather .pro-entry-points,
#weather .swiper-wrapper > li,
#weather .promo,
#weather footer {
  display: none !important;
}

#weather .swiper-wrapper > li:nth-child(1),
#weather .swiper-wrapper > li:nth-child(2),
#weather .swiper-wrapper > li:nth-child(3),
#weather .swiper-wrapper > li:nth-child(4),
#weather .swiper-wrapper > li:nth-child(5),
#weather .swiper-wrapper > li:nth-child(6) {
  display: list-item !important;
}

#weather .forecast-briefly {
  margin-bottom: 30px;
}

#weather .swiper-wrapper {
  margin-bottom: 5px;
}

#transport {
  width: 100%;
  color: #ddd;
}

#transport-container {
  background: #444;
  border: 1px solid #888;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px 20px 0px 5px;
  height: 468px;
  background-position: right;
  background-image: url("transport-bg.jpg");
}

#transport section {
  margin-bottom: 5px;
}

#transport section > div:first-child {
  font-weight: 500;
}

#transport section > div:nth-child(2) {
  font-size: 10pt;
}

#transport .routes {
  margin-left: 15px;
}

#transport button {
  padding: 5px 20px;
  width: 170px;
  color: #98eeff;
  border-color: #98eeff;
}

#transport button:hover {
  color: #8fe1f1;
  background-color: transparent;
  border-color: #8fe1f1;
}

#transport button.active {
  color: #000;
  background-color: #8fe1f1;
  border-color: #8fe1f1;
}

#transport .late {
  color: #ff5f5f;
}

#transport .good {
  color: #78ff6f;
}

#transport .future {
  color: #fff382;
}

#transport button span {
  vertical-align: text-bottom;
}
